.container{
  margin-top:150px;
}
.card{
  margin-top:30px;
  box-shadow: none;
  border-style: 1px solid #DBDBDB;
}
.media {
    height: 550px;
    padding-top: '56.25%';
  }
.expand {
    transform: 'rotate(0deg)';
    margin-left: 'auto';
    
  }
.expandOpen {
    transform: 'rotate(180deg)';
  }
.avatar {
    background-Color: red;
  }
.input{
  padding:15px;
}
.book{
  float: right;
}