.container{
  margin-top:30px;
  display:flex;
  flex-direction: column;
}

.card{
  background-color: #FFFFFF;
  margin-top:30px;
  box-shadow: none;
  border: 1px solid;
  border-color:  #DBDBDB;
  max-width: 600px;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:60px;
}
.htext{
  margin-right: auto;
  margin-left: 15px;
}
.responsive {
  width: 100%;
  max-width: 700px;
  height: auto;
}
.icons{
  display:flex;

}
.icon{
  margin-left: auto;
}
.avatar {
    margin-left: 15px;
  }
.comment{
    display: flex;
    align-items: center;
  }
.like{
  margin-left: 15px;
}
.base{
  display: flex;
  align-items: center;
}
.input{
  padding:15px;
  width:500px;
}
.btn{
  color: dodgerblue;
  opacity:0.4;
}
